body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Project app specific css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(227, 236, 236);
}

form {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

input {
  width: 180px;
  height: 35px;
}

textarea {
  width: 180px;
  height: 90px;
}

input.submit {
  width: 130px;
  height: 35px;
}

