ul {
    display: flex;
    gap: 10px;
}

ul a {
    text-decoration: none;
}

ul a:hover,
ul a.active {
    color: goldenrod;
    text-decoration: underline;
}

nav {
    width: 100vw;
    height: 60px;
    background: rgb(0,0,0,.15);
    display: flex;
    justify-content: center;
    align-items: center;
}