form {
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: auto;
    margin-right: 5px;
}
label {
    margin-right: 5px;
}